body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #F6EFBD;
    margin-left: 10%;
    min-width: 800px;
}
header {
    background-color: #D1B38E;
    height: 100px;
    width: 80%;
    text-align: center;
}
header img {
    height: 100px;
    width: 50%;
}
#LeftColumn{
    float: left;
    width: 10%;
    height: 350px;
    background-color: #E2D1B2;
}
#RightColumn{
    margin-left: 10%;
    width: 70%;
    height: 350px;
    background-color: #F5F5DD;
}
#RightColumn h2 {
    margin: 0;
    padding: 2%;
    color: #2D0000;
}
#RightColumn ul{
    margin: 0 0 0 -3%;
    list-style-image: url(coffee.png)
}
#PhotoContainer {
    margin-left: 5%;
    float: left;
    width: 35%;
}
#PhotoContainer img{
    height: 200px;
    width: 100%;
}
#DescriptionContainer {
    margin-left: 45%;
    width: 35%;
    color: #2D0000;
    font-size: larger;
}
nav {
    text-align: center;
    padding: 10%;
}
nav a{
    margin: 10%;
    text-decoration: none;
    text-align: center;
    color: #694134;
}
nav a:focus{
    color: #A48268;
}
footer {
    width: 80%;
    background-color: #D1B38E;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-size: small;
}
footer a{
    margin: 30px;
    color: #694134;
}
footer a:focus{
    color: #A48268;
}
footer a:visited{
    color: #A48268;
}