body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #F6EFBD;
    margin-left: 10%;
    min-width: 800px;
}
header {
    background-color: #D1B38E;
    height: 100px;
    width: 80%;
    text-align: center;
}
header img {
    height: 100px;
    width: 50%;
}
#LeftColumn{
    float: left;
    width: 10%;
    height: 450px;
    background-color: #E2D1B2;
}
#RightColumn{
    margin-left: 10%;
    width: 70%;
    height: 450px;
    background-color: #F5F5DD;
}
#RightColumn h2, p {
    margin: 0;
    padding: 2% 0 0 2%;
    color: #2D0000;
}
form {
    padding: 2% 0 0 2%;
}
form label {
    display: block;
    margin: 1% 0;
    float: left;
    width: 10%;
    text-align: right;
}
form input[type=text], input[type=date], textarea{
    margin: 1% 0 1% 5%;
}
form input[type=reset], input[type=submit] {
    margin: 1% 0;
}
nav {
    text-align: center;
    padding: 10%;
}
nav a{
    margin: 10%;
    text-decoration: none;
    text-align: center;
    color: #694134;
}
nav a:focus{
    color: #A48268;
}
footer {
    width: 80%;
    background-color: #D1B38E;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-size: small;
}
footer a{
    margin: 30px;
    color: #694134;
}
footer a:focus{
    color: #A48268;
}
footer a:visited{
    color: #A48268;
}