body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #F6EFBD;
    margin-left: 10%;
    min-width: 800px;
}
header {
    background-color: #D1B38E;
    height: 100px;
    width: 80%;
    text-align: center;
}
header img {
    height: 100px;
    width: 50%;
}
#LeftColumn{
    float: left;
    width: 10%;
    height: 500px;
    background-color: #E2D1B2;
}
#RightColumn{
    margin-left: 10%;
    width: 70%;
    height: 500px;
    background-color: #F5F5DD;
    color: #2D0000;
}
#RightColumn h2, p {
    margin: 0;
    padding: 2% 0 0 2%;
}
#MusicContainer {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    padding: 2% 0;
}
#MusicContainer img{
    height: 70%;
    width: 70%;
}
#MusicContainer h3{
    margin: 0;
    background-color: #E2D1B2;
}
div.music-in-month
{
    height: fit-content;
    padding: 1% 0;
    margin: 3% 0;
}
div.music-picture {
    float: left;
    text-align: center;
    padding: 2% 5%;
    width: 20%;
}
div.music-detail {
    margin-left: 0%;
}
div.music-detail audio{
    margin-top: 1%;
}
nav {
    text-align: center;
    padding: 10%;
}
nav a{
    margin: 10%;
    text-decoration: none;
    text-align: center;
    color: #694134;
}
nav a:focus{
    color: #A48268;
}
footer {
    width: 80%;
    background-color: #D1B38E;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
    font-size: small;
}
footer a{
    margin: 30px;
    color: #694134;
}
footer a:focus{
    color: #A48268;
}
footer a:visited{
    color: #A48268;
}