
h1 {
    margin: 0;
    padding: 2%;
    color: #2D0000;
}

div.admin-option-container{
    padding: 2%;
}

div.admin-option-container h2 {
    display: inline;
    color: #2D0000;
}

div.admin-option-container input {
    -webkit-appearance: none;
    border: 2px solid #2D0000;
    width: 30px;
    height: 30px;
    background-color: #E2D1B2;
}
